 
<!doctype html>
<html lang="{{ metadata.language }}">
<head>
  {%- set pageSocialImg %}{{ meta.url }}/previews/{{ title | slug }}.png{% endset
-%}
<meta property="og:image" content="{{pageSocialImg}}" />
<meta name="twitter:image" content="{{pageSocialImg}}" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  <link rel="icon" type="image/png" sizes="96x96" href="/fav/favicon.png">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
</head>
<nav class='navbar'>
    
    <div class="subnav">
        <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" height="48" width="48"><path d="M11 39h7.5V26.5h11V39H37V19.5L24 9.75 11 19.5Zm-3 3V18L24 6l16 12v24H26.5V29.5h-5V42Zm16-17.65Z"/></svg></a>
    </div>
    <div class="title">
    {{ title }}
  </div>
</nav>
<div class="poet">
  {% if poet %}
    {{ poet }}
  {% else %}
  &nbsp;
  {% endif %}
</div>
<body>

  {{ content | safe }} 

</body>
</html>