.navbar{
    display: block;
    margin: auto;
    font: 2rem "Bodoni 72", serif;
    text-align: center;
    background-color: lightseagreen;
    color: white;
    height: fit-content;
}

.subnav{
    float: left;
}

.title{
    color: white;
}

.poet{
    font-size: 1.5rem;
    float: right;
    text-align: right;
    padding-right: 1rem;
}

.poem{
    margin-left: 3rem;
    font: 1rem "Verdana", san-serif;
}

.poem > p {
    color: #662300;
    margin: 0.5rem 0;
}

ul{
    font-size: x-large;
    list-style-type: none;
    text-decoration: none;
    line-height: 3rem;
}

li > a {
    text-decoration: none;
}

li > a:hover, a:visited, a:active {
    text-decoration: underline;
}

#random{
    text-align: center;
    font: 3em "Bodoni 72", serif;
}

#random > a:link {
    background-color: white;
    color: lightseagreen;
    border: 2px solid lightseagreen;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  #random > a:hover, a:active {
    background-color: lightseagreen;
    color: white;
  }
